body {
 background-color: #191919;
 color: whitesmoke;
}



@media (max-width: 768px) {
    .container-table {
        width: 100%;
    }
    thead{
     font-size: 10px;
    }
    tbody {
        font-size: 10px;
    }
  }

  @media (max-width: 400px) {
    .container-table {
        width: 100%;
    }
    thead{
     font-size: 8px;
    }
    tbody {
        font-size: 8px;
    }
    img {
        width: 12%;
    }
  }